@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="checkbox"] {
  line-height: 2.1ex;
}

/* input[type="radio"], */
input[type="checkbox"] {
  position: absolute;
  left: -999em;
}

input[type="checkbox"] + label {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: -25%;
  height: 2ex;
  width: 2ex;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(209, 47, 47, 0.25);
  margin-right: 0.5em;
}
input[type="checkbox"]:checked + label::before {
  content: "";
  display: inline-block;
  vertical-align: -25%;
  height: 2ex;
  width: 2ex;
  background-color: rgb(38, 228, 21);
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(209, 47, 47, 0.25);
  margin-right: 0.5em;
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(38, 228, 21);
  background: rgb(233, 232, 232);
}

::selection {
  color: rgb(38, 228, 21);
  background: rgb(233, 232, 232);
}

.link-tag {
  transition: all ease 0.3s;
}

.link-tag:hover {
  transform: scale(1.02);
}

.explain-para::first-letter {
  padding: 4px 8px;
  background: greenyellow;
  text-decoration: underline;
}
